/* Tüm Sayfalar Başlangıcı */

* {
  font-family: Arial, Helvetica, sans-serif;
}
input {
  font-size: 18px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #ffff78;
  cursor: pointer;
}

input[type=file] {
  width: 80%;
  display: block;
  margin: 10px auto;
  background-color: #ffff78;
  font-size: 12px;
}

body {
  margin: 0;
}

a.a {
  font-style: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a.a:hover {
  color: darkblue;
}

/* Tüm Sayfalar Bitişi */

/* Giriş Sayfası Başlangıcı */

div.giris {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #eee;
  padding: 50px;
  border: 2px solid black;
  font-size: 20px;
}
div.giris div, div.giris input{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
div.giris div.bas-giris {
  text-align: center;
}
div.giris label, div.giris input{
  text-align: left;
}
div.giris div:not(div.bas-giris) {
  width: 60%;
  padding: 10px;
}
div.giris div:not(div.bas-giris) input {
  width: 95%;
}
div.giris label{
  font-size: 15px;
  font-weight: bold;
}
div.giris a {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  font-size: 17px;
  font-style: italic;
}
div.giris input.sub {
  width: 60%;
  background-color: #ffff78;
  text-align: center !important;
  font-weight: bold;
  cursor: pointer;
}

div.giris div.hata {
  color: red;
  text-align: center;
}

div.dil {
  padding: 0 !important;
  display: inline;
}

div.dil > a {
  padding: 0 !important;
  display: inline;
}

/* Giriş Sayfası Bitişi */

/* Sidebar Başlangıcı */

div.content {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% repeat(1, 1fr);
}

div.sidebar {
  background-color: #222222;
  color: white;
}

div.sidebar .sticky {
  position: sticky;
  top: 0;
}

div.logo {
  height: 15vh;
  padding: 15px;
  background-color: #ffff78;
  color: black;
} 

div.logo h1 {
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

.sidebar ul.sidebar-list img {
  max-width: 25px;
  filter: invert(100%);
  margin: 0 10px;
}

.sidebar ul.sidebar-list span {
  margin-top: auto;
  margin-bottom: auto;
}


.sidebar ul.sidebar-list a {
  text-decoration: none;
}


ul.sidebar-list {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  padding-bottom: 30px;
}

ul.sidebar-list li {
  margin-top: 10px;
  padding: 10px 0;
  background-color: #7e7e7e8a;
  transition: all 0.6s;
  display: grid;
  grid-template-columns: auto 1fr;

}

ul.sidebar-list li:hover {
  background-color: #7e7e7ee8;
  padding-left: 25px;
  padding-right: 25px;
}

ul.sidebar-list a {
  color: white !important;
}

ul.sidebar-list .aktif {
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Sidebar Bitişi */


/* Sayfa Başı Başlaması */

div.bas {
  display: grid;
  grid-template-columns: auto 1fr 50%;
  background-color: #cdcdcd;
  height: 7vh;
  padding: 10px;
  /* width: 100%; */
  position: sticky;
  top: 0;
}

div.bas .pas {
  cursor: pointer;
  z-index: 1;
}

div.bas div.tarih {
  font-weight: bold;
  color: #747474;
  margin: auto;
  /* margin-left: 10px; */
}

div.bas div.profil {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 20% 65% 15%;
  grid-template-rows: auto auto;
  grid-template-areas: "foto ad ok" "ust ust ust";
  height: 7vh;
  border: 2px solid black;
  border-radius: 30px;
}

div.bas div.profil img {
  max-height: 5vh;
  margin: auto;
  /* display: block; */
}

div.bas div.profil p {
  font-weight: bold;
  display: block;
  text-align: center;
}

div.bas div.profil p:last-of-type {
  transform: rotate(90deg);
  transition: all 0.5s;
  font-size: 25px;
  margin: 0 auto;
  transform-origin: center center;
}

div.bas div.profil div.profil-ust {
  position: relative;
  border: inherit;
  border-radius: inherit;
  width: 100%;
  grid-area: ust;
  border-top: none;
  padding-top: 7vh;
  transition: all 0.6s;
  top: -500px;
  background-color: #74747495;
}

div.bas div.profil div.profil-ust ul {
  list-style: none;
  padding: 0;
}

div.bas div.profil div.profil-ust ul li {
  background-color: #eee;
  margin: 10px 2px;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: auto 1fr;
}

div.bas div.profil div.profil-ust ul > li:first-of-type {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
}

div.bas div.profil div.profil-ust ul li span {
  /* display: block; */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

div.bas div.profil div.profil-ust ul > li > a {
  text-align: center;
  margin: auto;
}

div.bas div.profil div.profil-ust ul > li > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


/* Sayfa Başı Bitişi */

/* Bildirim Başlangıcı */
div.bildirim {
  padding: 10px;
  background-color: red;
  text-align: center;
  color: white;
  font-weight: bold;
}

/* Bildirim Bitişi */


/* Sayfalar Başlngıcı */
div.cont {
  display: grid;
  grid-template-rows: auto 1fr;
}

div.cont div.cont-bas {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.cont div.cont-bas > div {
  margin: 10px auto;
  width: 90%;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

div.cont div.cont-bas form input[type=text] {
  width: 65%;
}

div.cont div.cont-bas form input[type=submit] {
  width: 30%;
}

div.cont-alt {
  margin: 10px auto;
  width: 95%;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

table.cont {
  border: 2px solid black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

table.cont tr:nth-child(odd) {
  background-color: #747474;
}

table.cont tr:nth-child(even) {
  background-color: #e5f2ff;
}

table.cont, table.cont td, table.cont th{
  border: 2px solid white;
  border-collapse: collapse;
  padding: 7px;
  text-align: center;
}

table.cont tr th:nth-child(1) {
  width: 15%;
}

table.cont tr th:nth-child(2) {
  width: 55%;
}

table.cont tr th:nth-child(3) {
  width: 30%;
}

img.kontrol {
  max-width: 20px;
  margin: 0 10px;
}

div.cont-all {
  margin: 10px auto;
  width: 95%;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

.degistir-kat input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

div.cont div.cont-bas-2 {
  display: grid;
  grid-template-columns: 75% 25%;
}

div.cont div.cont-bas-2 > div { 
  margin: 10px auto;
  width: 93%;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

div.cont div.cont-bas-2 div:last-of-type {
  width: 80%;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;

}

div.cont div.cont-bas-2 form input[type=text] {
  width: 68%;
}

div.cont div.cont-bas-2 form input[type=submit] {
  width: 28%;
}

div.cont div.cont-bas-2 a.ekle {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  display: block;
  background-color: #ffff78;
  border: 1px solid black;
  border-radius: 5px;
}


table.cont-2 tr th:nth-child(1) {
  width: 15%;
}

table.cont-2 tr th:nth-child(2) {
  width: 35%;
}

table.cont-2 tr th:nth-child(3) {
  width: 5%;
}

table.cont-2 tr th:nth-child(4) {
  width: 5%;
}

table.cont-2 tr th:nth-child(5) {
  width: 25%;
}

table.cont-2 tr th:nth-child(6) {
  width: 15%;
}

img.kontrol-2 {
  max-width: 15px;
  margin: 0 10px;
}

img.kontrol-3 {
  max-width: 20px;
  margin: 0 10px;
}
/* Sayfalar Bitişi */

/* Ürün Sayfası Başlangıcı */

.urun-deg-buyuk {
  display: grid;
  grid-template-rows: auto auto;
}

div.urun-deg {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

div.urun-deg div.foto {
  margin: 10px auto;
  border-radius: 20px;
  border: 2px solid black;
  width: calc(90% - 10px);
  background-color: #747474;
  padding: 10px;
}

div.urun-deg div.foto img.fotog {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  object-fit: cover;
}

input.urun-ekleme, a.urun-ekleme {
  width: 70%;
  margin: 50px auto 10px auto;
  background-color: #a8d25a;
}

div.urun-deg div.div-2 {
  width: 95%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: auto 1fr;
}

div.urun-deg div.div-2 input, select, div.urun-deg div.div-2 textarea {
  width: 95%;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  padding: 2px;
  margin: 10px auto auto auto;
}

div.urun-deg div.div-2 textarea {
  height: 100px;
  font-size: 18px;
  resize:vertical;
  max-height: 71vh;
  min-height: 100px;
}

div.div-2 label {
  padding: 0 10px;
  height: fit-content;
  margin: auto 0;
  font-weight: bold;
}
a.urun-ekleme  {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  
}
/* Ürün Sayfası Bitişi */

/* Satislar Sayfasi Baslangici */
div.s-y {
  display: block !important;
  width: 100%;
}

div.s-y > div {
  width: 95% !important;
}

div.s-y > div > form {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  margin: auto;
}

div.s-y > div > form > input {
  width: 90% !important;
  margin: 5px auto;
}

div.s-y > div > form > label {
  margin: auto;
  font-weight: bold;
}

div.div-satislar {
  border: 2px solid #000e5ee8;
  border-radius: 10px;
  padding: 5px;
}

div.satis-bilgileri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.satis {
  display: grid;
  grid-template-rows: auto auto;
}

input.toplam {
  width: 90%;
  margin: 20px auto;
}

.div-toplam {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.div-toplam > label {
  padding: 0 10px;
  height: fit-content;
  margin: auto 0;
  font-weight: bold;
}

input.hesapla {
  height: 33px;
  margin: auto;
  background-color: #ffff78;
  cursor: pointer;
}

div.s {
  margin: 10px auto;
}

/* Satislar Sayfasi Bitisi */

/* Raporlar Sayfasi Baslangici */

div.kar-zarar {
  display: grid;
  grid-template-columns: auto 40%;
}

div.kar-zarar table, div.kar-zarar table td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 7px;
  text-align: center;
}

span.kar {
  font-weight: bold;
  color: green;
}

span.zarar {
  font-weight: bold;
  color: red;
}
/* Raporlar Sayfasi Bitisi */

/* Anasayfa Baslangici */

div.buyuk-anasayfa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div.buyuk-anasayfa > div {
  margin: 10px;
  border-radius: 10px;
}

div.buyuk-anasayfa > div:nth-child(1), div.buyuk-anasayfa > div:nth-child(2), div.buyuk-anasayfa > div:nth-child(3) {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 10px;

}

div.buyuk-anasayfa > div:nth-child(1) {
  background-color: #5a92d2;
}

div.buyuk-anasayfa > div:nth-child(2) {
  background-color: #d2725a;
}

div.buyuk-anasayfa > div:nth-child(3) {
  background-color: #92d25a;
}

div.buyuk-anasayfa > div > div {
  text-align: center;
}

div.buyuk-anasayfa > div > div > p {
  font-weight: bold;
  font-size: large;
}

div.buyuk-anasayfa > div > div > span {
  font-weight: bold;
  font-size: 25px;
}

div.buyuk-anasayfa > div > img {
  max-width: 90px;
  margin: auto;
}

div.buyuk-anasayfa > div > table {
  border: 2px solid black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.buyuk-anasayfa > div > table tr:nth-child(odd) {
  background-color: #747474;
}

div.buyuk-anasayfa > div > table tr:nth-child(even) {
  background-color: #e5f2ff;
}

div.buyuk-anasayfa > div > table, div.buyuk-anasayfa > div > table td, div.buyuk-anasayfa > div > table th{
  border: 2px solid white;
  border-collapse: collapse;
  padding: 7px;
  text-align: center;
}

div.buyuk-anasayfa > div > table tr th {
  background-color: #222222;
  color: white;
}

div.buyuk-anasayfa > div > table tr th:nth-child(1) {
  width: 15%;
}

div.buyuk-anasayfa > div > table tr th:nth-child(2) {
  width: 55%;
}

div.buyuk-anasayfa > div > table tr th:nth-child(3) {
  width: 30%;
}
/* Anasayfa Bitisi */